.column {
    float: left;
    width: 33.33%;
}


/* 列后清除浮动 */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* 响应式布局 - 小于 600 px 时改为上下布局 */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}